/* The game title */
.gameTitle {
  color: dimgray;
  margin: 1px auto;
  padding: 2px;
  text-align: center;
  font-family: Impact;
  border: 2px dashed black;
  width: fit-content;
  left: auto;
  position: absolute;
}
/* The screen that shows before the game starts */
.startScreen {
  position: absolute;
  background-color: red;
  left: 35%;
  top: 15em;
  color: white;
  z-index: 1;
  text-align: center;
  border: 1px solid red;
  padding: 15px;
  margin: auto;
  width: 30%;
  font-family: sans-serif;
}
/* The score board */
.scoreBoard {
  background-color: maroon;
  height: 70px;
  line-height: 35px;
  left: 30%;
  width: 40%;
  position: absolute;
  z-index: 2;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-family: fantasy;
  border: 2px double black;
}
/* Player car and enemies */
.playerCar,
.enemy {
  /* Set the size of the cars */
  width: 50px;
  height: 100px;
  /* Add a background image */
  background-image: url(car.png);
  background-size: cover;
  /* Car positioning */
  position: absolute;
  bottom: 100px;
  margin: auto;
  /* Default background color of cars */
  background-color: white;
  /* Control how text on cars looks */
  line-height: 38px;
  font-size: 1.7em;
  text-align: center;
  vertical-align: middle;
}
/* The road area */
.roadArea {
  background-color: black;
  width: 400px;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
}
/* Road lines */
.line {
  /* Set position away from the left side */
  /* margin-left: 195px; */
  position: absolute;
  /* Set line appearance */
  width: 10px;
  height: 100px;
  background-color: white;
}
/* This is a class we can put on things to hide them */
.hide {
  display: none;
}

.pause {
  animation-play-state: paused;
}
